@import '~bootstrap/scss/bootstrap';

header{
    height: 60px;
}

.main-wrapper{
    height: calc(100vh - 60px);

    aside{
        width: 250px;
        height: 100%;
        ul{
            list-style: none;
            li{
                a{
                    color: white;
                    text-decoration: none;
                }
                &.active{
                    a{
                        background-color: rgb(181, 75, 48);
                    }
                }
            }
        }
    }

    .dashboard{
        width: calc(100% - 250px);
        height: 100%;
        overflow: auto;
    }

}



.btn-custom{
    &:hover{
        background-color: rgb(220, 100, 60);
    }
    &.active{
        background-color: rgb(181, 75, 48);
    }
}

